<<<<<<< HEAD
=======

>>>>>>> 8ccc5ce7d87b16ad8ab6928b9ed18324de8d0a6a


<<<<<<< HEAD
.titulo .principal{

    font-size: 23px;
    font-family: 'Alfa Slab One', cursive; 
}



=======
main{
    background-color:  rgba(88, 81, 81, 0.39);
}
.carousel{
    width: 90%;
    margin-left: 65px;
}

>>>>>>> c4b1cfe44fb6e084ce6d37f2854f02d13bee8f8d
img{

    height: 500px;
    width: 500px;
    border-top: 10px;
    border-radius: 10px;
    
}
.separador{
    color:  rgba(88, 81, 81, 0.39);
    
}

/* ACA COMIENZA EL SLOGAN DE NUESTRA MARCA  */
.slogan_div{
 width: 800px;
 height: 100px;
 margin-left: 20%;

 display: flex;
justify-content: center;
border: 5px solid black;
border-radius: 20px;
  
}
.slogan_parrafo{

    margin: 4px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Alfa Slab One', cursive;
     

}
<<<<<<< HEAD









<<<<<<< HEAD
=======
.sub-titulo h2{
    color: black;
    text-align: center;
    padding: 50px;
    font-family: 'Alfa Slab One', cursive;
   /*font-family: 'Montserrat', sans-serif;*/
    font-size:35px;

}
>>>>>>> 0419a6a4b9a86f5f238352b239a5d9e37007706c








/* ACA EMPIEZAN LAS CARTAS  */
.containercard3,.containercard2{
=======
.slogan_div:hover{
    cursor: pointer;
    background-color: #ffc008;
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 0 0 10px #ffc008 , 0 0 40px #ffc008 , 0 0 80 px #ffc008 ;
    
}



/* ACA EMPIEZAN LOS ESTILOS DE LAS  CARTAS  */
.containercard3{
>>>>>>> c4b1cfe44fb6e084ce6d37f2854f02d13bee8f8d
    
    display: flex;
    justify-content: space-around;
}
.containercard2{
    display: flex;
    justify-content:space-evenly;
}

.cardperfil{
    width: 300px;
    height: 450px;
    background-color:  rgba(88, 81, 81, 0.39); 
    border-radius: 10px;
    border-radius: 12px;
    box-shadow:  5px 5px 10px #321a1a,
                -5px -5px 10px #c86666;
} 
.cardperfil:hover{

    transform: scale(1.1);
    transition: 50.4ms;
}

 .imgignacio, .imgbeimar, .imgbelen, .imgmagali, .imgjoaquin{
   
     width: 201px; 
    height: 260px;
    margin-top: 30px;
    border-radius: 10px ;
    
    
}
.cardtext{
    display: flex;
    justify-content: center;
    font-family: 'Alfa Slab One', cursive;

}
.btncards{
    display: inline-block;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 40px;
    background-color: #ffc008;
    text-decoration: none;
    
}
.btncards a{
    text-decoration: none;
}

