<main class="capa">
        
        <div class="sub-titulo">
            <h2>
                Tenemos estas capacitaciones preparadas para vos
            </h2>
        </div>

        <div class="container-fluid">


            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col p-3 ">
                    <div class="card p-3">
                        <a href="../maqueta 2/html/registrarse.html">
                            <img src="./img/registrarse.jpg" class="card-img-top" alt="...">
                        </a>

                        <div class="card-body">
                            <h3 class="card-title">¿Como registrarse?</h3>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>

                        </div>
                        <div class="boton-card">
                            <a href="../maqueta 2/html/registrarse.html">
                                <button type="button" class="btn btn-warning ">Entrar</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col p-3">
                    <div class="card p-3">
                        <a href="./html/marcketing.html">
                            <img src="./img/marcketing.jpg" class="card-img-top" alt="...">
                        </a>

                        <div class="card-body">
                            <h3 class="card-title">Marcketing</h3>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>

                        </div>
                        <div class="boton-card">
                            <a href="./html/marcketing.html">
                                <button type="button" class="btn btn-warning ">Entrar</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col p-3">
                    <div class="card p-3">

                        <a href="../maqueta 2/html/tips.html">
                            <img src="./img/consejos.jpg" class="card-img-top" alt="...">
                        </a>

                        <div class="card-body">
                            <h3 class="card-title">Consejos y tips</h3>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content.</p>

                        </div>
                        <div class="boton-card">
                            <a href="../maqueta 2/html/tips.html">
                                <button type="button" class="btn btn-warning ">Entrar</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col p-3">
                    <div class="card p-3 ">
                        <a href="./html/finanzas.html">
                            <img src="./img/finanzas.jpg" class="card-img-top" alt="...">
                        </a>

                        <div class="card-body">
                            <h3 class="card-title">Finanzas</h3>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>


                        </div>
                        <div class="boton-card">
                            <a href="./html/finanzas.html">
                                <button type="button" class="btn btn-warning ">Entrar</button>
                            </a>

                        </div>



                    </div>
                </div>
            </div>




        </div>

    </main>
