<main class="login">
    <div class="formulario">
        <h2>Login</h2>
        <form action="codigo.php">
            <input type="email" class="email" placeholder="E-mail" name="" id="">
            <input type="password" name="" id="" placeholder="Contraseña">

            <p>¿Olvidaste tu contraseña?</p>

            <button> Ingresar</button> <br>
            <a href="/users/register"> Crear cuenta</a>

            <div class="imagenes">
                <img src="../img/google.png" alt="google" width="30">
                <img src="../img/facebook.png" alt="facebook" width="30">
                <img src="../img/twitter.png" alt="twitter" width="30">
            </div>
        </form>
    </div>
</main>