*{
    margin: 0;
    padding: 0;
}

main{
    background-color:  rgba(88, 81, 81, 0.39);
}
img{
    width: 8%;
}
#contenedor-formulario{
    width: 400px;
    margin: 40px auto;
    background-color: #ccc;


}
main.vistacontacto .formulario {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-family: 'Poppins', sans-serif;
}









 

