.cap-registrarse{
    padding: 50px;
}
.card01{
    padding: 5px;
}
.titulo-registrar{
    text-align: center;
    font-size: 25px;
    background-color:#ffc008;
    border-radius: 10px;
    border: black solid 2px;
    padding: 5px;
}
.pasos{
   display: flex;
   justify-content: center;
   padding: 30px 0 20px 0;
}

.pasos ol li{
    padding: 10px;
    font-size: 18px;
    font-family: 'Alfa Slab One', cursive;

}

.ver{
    display: flex;
    justify-content: center;
}

/* ESTILOS DE LA CAJA TIPS/FINANZAS /MARCKETING*/ 

.titulo-tips{
    padding: 40px 0 0 0;
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-family: 'Alfa Slab One', cursive;
}

.caja-tips{
    padding: 60px;
}
.video-tips{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 0 10px;
}
.video-tips iframe{
    border-radius: 5px;
}

.sub-tips{
   text-align: center;
   font-family: 'Alfa Slab One', cursive;
   background-color: #ffc008;
   border: 2px solid black;
   border-radius: 10px;

}