
main{
    background-color:  rgba(88, 81, 81, 0.39);

}
main.sobrenosotros .carousel{
    width: 90%;
    margin-left: 65px;
}

main.sobrenosotros img{
    height: 500px;
    width: 500px;
    border-top: 10px;
    border-radius: 10px;
}

main.sobrenosotros .separador{
    color:  rgba(88, 81, 81, 0.39);
}

/* ACA COMIENZA EL SLOGAN DE NUESTRA MARCA  */
main.sobrenosotros .slogan_div{
 width: 800px;
 height: 100px;
 margin-left: 20%;

 display: flex;
justify-content: center;
border: 5px solid black;
border-radius: 20px;
}

main.sobrenosotros .slogan_parrafo{
    margin: 4px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Alfa Slab One', cursive;
}
main.sobrenosotros .slogan_div:hover{
    cursor: pointer;
    background-color: #ffc008;
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 0 0 10px #ffc008 , 0 0 40px #ffc008 , 0 0 80 px #ffc008 ;
    
}
/* ACA EMPIEZAN LOS ESTILOS DE LAS  CARTAS  */


main.sobrenosotros .containercard3{
    
    display: flex;
    justify-content: space-around;
}
main.sobrenosotros .containercard2{
    display: flex;
    justify-content:space-evenly;
}

main.sobrenosotros .cardperfil {
    width: 300px;
    height: 450px;
    background-color:  rgba(88, 81, 81, 0.39); 
    border-radius: 10px;
    border-radius: 12px;
    box-shadow:  5px 5px 10px #000000,
                -5px -5px 10px rgba(88, 81, 81, 0.9)  ;  
}
main.sobrenosotros .cardperfil:hover{

    transform: scale(1.1);
    transition: 50.4ms;
}

main.sobrenosotros .imgignacio, 
main.sobrenosotros .imgbeimar, 
main.sobrenosotros .imgbelen, 
main.sobrenosotros .imgmagali, 
main.sobrenosotros .imgjoaquin {
    display: flex;
    justify-content: center;
    width: 200px; 
    height: 200px;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 8px;
    border-radius: 55%;

}
main.sobrenosotros .cardtext{
    display: flex;
    justify-content: center;
    font-family: 'Alfa Slab One', cursive;

}
main.sobrenosotros .btncards{
    display: inline-block;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 40px;
    background-color: #ffc008;
    text-decoration: none;
    
}
main.sobrenosotros .btncards a :visited{
    text-decoration: none;
}

