main.sobrenosotros {
    padding-bottom: 30px;
}

.logo-nav{
    width: 200px;
    height: 90px;
}

main.sobrenosotros .titulo{
    padding: 0 60px 0 0;
}

main.sobrenosotros .principal{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main.sobrenosotros .titulo .principal{
    font-size: 23px;
    font-family: 'Alfa Slab One', cursive; 
}

main.sobrenosotros img{
    height: 100vh;
    width: 200px;
}

main.sobrenosotros .separador{
    color:  rgba(88, 81, 81, 0.39);
}

/* ACA COMIENZA EL SLOGAN DE NUESTRA MARCA  */
main.sobrenosotros .slogan_div{
    max-width: 800px;
    display: flex;
    margin: 0 auto;
    border: 5px solid black;
}

main.sobrenosotros .slogan_parrafo{
    margin: 4px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main.sobrenosotros h5{
    color: white;
}

main.sobrenosotros .sub-titulo h2{
    color: black;
    text-align: center;
    padding: 50px;
    font-family: 'Alfa Slab One', cursive;
   /*font-family: 'Montserrat', sans-serif;*/
    font-size:35px;
}

main.sobrenosotros h3{
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}

main.sobrenosotros .boton-card{
    display: flex;
    justify-content: center;
}

main.sobrenosotros .card{
    box-shadow: inset black;
}

main.sobrenosotros p{
    color: black;
}

main.sobrenosotros .bi-instagram {
    color:#ffc008
}

main.sobrenosotros .bi-twitter{
    color: #ffc008
}

main.sobrenosotros .insta{
    height: 10px;
}

.bi-facebook{
    color:#ffc008
}

main.sobrenosotros .registro {
   display: flex;
   justify-content: center;
}

main.sobrenosotros hr {
    color:white
}

main.sobrenosotros .copy {
    display: flex;
    justify-content: center;
    color: white;
}


/* ACA EMPIEZAN LAS CARTAS  */
main.sobrenosotros .containercard3,
main.sobrenosotros .containercard2 {
    display: flex;
    justify-content: space-around;
}

main.sobrenosotros .cardperfil {
    width: 200px;
    height: 450px;    
}

main.sobrenosotros .imgignacio, 
main.sobrenosotros .imgbeimar, 
main.sobrenosotros .imgbelen, 
main.sobrenosotros .imgmagali, 
main.sobrenosotros .imgjoaquin {
    width: 100%;
    height: 265px;
}

