* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #bdbbbb;
    font-size: 18px;
}

main {
    background-color: rgba(88, 81, 81, 0.39);
}

a {
    color: #00B7FF;
    text-decoration: none;
}