@import url('/stylesheets/login.css');
@import url('/stylesheets/registro.css');
@import url('/emprendimientos31/public/stylesheets/capas.css');
@import url('/emprendimientos31/public/stylesheets/capas02.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
