<main class="sobrenosotros">
    <!--========================================================== -->
    <!-- SLIDER DE IMAGENES -->
    <!--========================================================== -->
    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active " data-bs-interval="3000">
                <img src="/images/profile-images/cars1.jpg" class="d-block w-100  " alt="Nosotros">
            </div>
            <div class="carousel-item">
                <img src="/images/profile-images/cars2.jpg" class="d-block w-100 " alt="Nosotros"
                    data-bs-interval="2000">
            </div>
            <div class="carousel-item">
                <img src="/images/profile-images/cars3.jpg" class="d-block w-100" alt="Nosotros"
                    data-bs-interval="2000">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
        </button>
    </div>
    <hr class="separador">

    <!-- ACA COMIENZA EL SLOGAN DE NUESTRA MARCA  -->

    <div class="slogan_div">
        <p class="slogan_parrafo">Somos un grupo de estudiantes apasionados por la tecnologia,nuestro proposito es
            poder dar visibilidad a aquellos emprendimientos que quieran potenciar su marca </p>
    </div>
    <hr class="separador">

    <!--====================== Aca estan las cartas==================================== -->

    <div class="containercard3">
        <div class="cardperfil">
            <img src="/images/profile-images/beimar.jpg" class="card-img-top imgbeimar" alt="">
            <div class="card-body">
          
                <p class="cardtext">Beimar Delgado</p>
                <p class="cardtext">Programador web full-stack</p>
                <p class="cardtext">Analisis de sistemas USAL</p>
                <button class="btncards">
                    <a href="https://www.linkedin.com/in/beimar-delgado/" target="_blank" class="btn btn-warning btnlinkdl  ">Ir a linkedin</a>
                </button>
                <button class="btncards">
                    <a href="https://github.com/lifmad" target="_blank" class="btn btn-warning btnlinkdl ">Ir a Github</a>
                </button>
            </div>
        </div>
        <div class="cardperfil">
            <img src="/images/profile-images/belen.jpg" class="card-img-top imgbelen" alt="">
           <div class="card-body">
          <p class="cardtext">Belen Rios</p>
          <p class="cardtext">Programadora web full-stack</p>
          <p class="cardtext">Lic Gestion IT UADE</p>
          <button class="btncards">
            <a href="https://www.linkedin.com/in/roci%C3%B3-belen-rios-092733232/" target="_blank" class="btn btn-warning btnlinkdl ">Ir a linkedin</a>
          </button>
          <button class="btncards">
            <a href="https://github.com/BelenRocioRios" target="_blank" class="btn btn-warning btnlinkdl ">Ir a Github</a>
          </button>
        </div>

        </div>
        <div class="cardperfil">
            <img src="/images/profile-images/magali.jpg" class="card-img-top imgmagali" alt="">
            <div class="card-body">
                <p class="cardtext">Magali Saavedra</p>
                <p class="cardtext">Programadora web full-stack</p>
                <p class="cardtext">Lic Gestion IT UADE</p>

                
                <button class="btncards">
                    <a href="https://www.linkedin.com/in/magali-saavedra/" target="_blank" class="btn btn-warning  btnlinkdl">Ir a linkedin</a>
                </button>
                <button class="btncards">
                    <a href="https://github.com/magasaavedra" target="_blank" class="btn btn-warning btnlinkdl ">Ir a Github</a>
                </button>
            </div>
        </div>
    </div>
    <hr class="separador">

    <div class="containercard2">
        <div class="cardperfil">
            <img src="/images/profile-images/ignacio.jpg" class="card-img-top imgignacio" alt="">
        <div class="card-body">
            <p class="cardtext">Ignacio Enriquez</p>
            <p class="cardtext">Programador web full-stack</p>
            <p class="cardtext">Tec en programacion UTN</p>

            <button class="btncards">
            <a href="https://www.linkedin.com/in/ignacio-enriquez-developer/" target="_blank" class="btn btn-warning btnlinkdl">Ir a linkedin</a>
            </button>
            <button class="btncards">
            <a href="https://github.com/IgnacioEnriquez" target="_blank" class="btn btn-warning btnlinkdl ">Ir a Github</a>
            </button>
        </div>
    </div>
        <div class="cardperfil">
                <img src="/images/profile-images/Joaquin.jpg" class="card-img-top imgjoaquin" alt="">
                <div class="card-body">
                    <p class="cardtext">Joaquin Arena</p>
                    <p class="cardtext">Programador web full-stack</p>
                     <p class="cardtext" >Lic Gestion IT UNPAZ</p>

                
                    <button class="btncards">
                    <a href="https://www.linkedin.com/in/joaquinarena/ " target="_blank" class="btn btn-warning btnlinkdl">Ir a linkedin</a>
                    </button>
                    <button class="btncards">
                        <a href="https://github.com/JoaquinArena2000" target="_blank" class="btn btn-warning btnlinkdl ">Ir a Github</a>
                    </button>
        
                 </div>
        </div>
    </div>
</main>