<main class="registrarse">
    <div class="conteiner-fluid row cap-registrarse">
        <div class="col card w-60 card01">
            <div class="card-body">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HTxS8OyeTCY"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="col card w-60 card01">
            <div class="card-body">
                <h5 class="card-title text-darck titulo-registrar">¿Como registrarse?</h5>
                <div class="pasos">
                    <p class="card-text ">
                    <ol>
                        <li> <b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b> </li>
                        <li> <b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b> </li>
                        <li> <b>Lorem ipsum dolor sit amet consectetur adipisicing el</b> it.</li>
                        <li> <b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b> </li>
                    </ol>
                    </p>
                </div>
                <div class="ver">
                    <a href="#" class="btn btn-warning ">Ver video</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>