<main class="capa">
    <div class="sub-titulo">
        <h2>
            Tenemos estas capacitaciones preparadas para vos
        </h2>
    </div>
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col p-3 ">
                <div class="card p-3">
                    <a href="/trainings/guia-register">
                        <img src="/img/registrarse.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">¿Como registrarse?</h3>
                        <p class="card-text">Esta capacitacion contiene un tutotial de como registrarte en la pagina para que puedas subir tu emprendimiento y empezar a utilizarla</p>
                    </div>
                    <div class="boton-card">
                        <a href="/trainings/guide">
                            <button type="button" class="btn btn-warning ">Entrar</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col p-3">
                <div class="card p-3">
                    <a href="/trainings/marketing">
                        <img src="/img/marcketing.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">Marketing</h3>
                        <p class="card-text">En esta capacitacion vas a ver las herramientas que ofrece esta disciplina para lograr sus objetivos y posicionar aquello que comercializa</p>
                    </div>
                    <div class="boton-card">
                        <a href="/trainings/marketing">
                            <button type="button" class="btn btn-warning ">Entrar</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col p-3">
                <div class="card p-3">
                    <a href="/trainings/tips">
                        <img src="/img/consejos.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">Consejos y tips</h3>
                        <p class="card-text">En esta capacitacion vas a encontrar los mejores consejos y tips, para instagram, facebook, whatsapp y algunas aplicaciones muy utiles</p>
                    </div>
                    <div class="boton-card">
                        <a href="/trainings/tips">
                            <button type="button" class="btn btn-warning ">Entrar</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col p-3">
                <div class="card p-3 ">
                    <a href="/trainings/finance">
                        <img src="/img/finanzas.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h3 class="card-title">Finanzas</h3>
                        <p class="card-text">Esta capacitacion aprenderas  la administración del dinero para lograr los objetivos y metas económicas, acá presentamos algunos elementos financieros básicos.</p>
                    </div>
                    <div class="boton-card">
                        <a href="/trainings/finance">
                            <button type="button" class="btn btn-warning ">Entrar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>