<main class="catalogue">
    <div class="img-31">
        <img src="/images/Barrio_31_de_Buenos_Aires.jpeg" alt="fondo-barrio-31">
        <h1>CATALOGO</h1>
        <h2>Emprendimientos 2022</h2>
    </div>
    <div class="catalogo">
       
        <div class="catalogo-filtros">
            <div class="box">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text">
            </div>
            <div class="container-publicados">
                <div class="form-check form-switch">
                    <label for="check2" class="form-check-label"> Publicados Hoy</label>
                    <input type="checkbox" class="form-check-input" value="" id="">
                </div>
            </div>
            <div class="container-select-categoria">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected>Todos</option>
                    <option value="1">Alimentos</option>
                    <option value="2">Vestimenta</option>
                    <option value="3">Tecnologia</option>
                    <option value="4">Artesania</option>
                    <option value="5">Jardineria</option>
                    <option value="6">Mixtos</option>
                </select>
            </div>
            <div class="container-ordenamiento">
                <p>Ordenar Por</p>
                <div class="container-select-categoria">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected>Mas Relevante</option>
                        <option value="1">Alimentos</option>
                        <option value="2">Vestimenta</option>
                        <option value="3">Tecnologia</option>
                        <option value="4">Artesania</option>
                        <option value="5">Jardineria</option>
                        <option value="6">Mixtos</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="catalogo-emprendimientos">
            <div class="container text-center">
                <div class="row row-cols-3">
                    <div class="col">
                        <div class="card" style="max-width: 380px;">
                            <img src="/images/Emp1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
                                    voluptate provident recusandae nemo totam at vero numquam, ratione possimus optio!
                                    Repellendus non quis, cupiditate fuga at ut quam sit officia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="max-width: 380px;">
                            <img src="/images/Emp1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
                                    voluptate provident recusandae nemo totam at vero numquam, ratione possimus optio!
                                    Repellendus non quis, cupiditate fuga at ut quam sit officia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="max-width: 380px;">
                            <img src="/images/Emp1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
                                    voluptate provident recusandae nemo totam at vero numquam, ratione possimus optio!
                                    Repellendus non quis, cupiditate fuga at ut quam sit officia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="max-width: 380px;">
                            <img src="/images/Emp1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
                                    voluptate provident recusandae nemo totam at vero numquam, ratione possimus optio!
                                    Repellendus non quis, cupiditate fuga at ut quam sit officia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="max-width: 380px;">
                            <img src="/images/Emp1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
                                    voluptate provident recusandae nemo totam at vero numquam, ratione possimus optio!
                                    Repellendus non quis, cupiditate fuga at ut quam sit officia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="max-width: 380px;">
                            <img src="/images/Emp1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
                                    voluptate provident recusandae nemo totam at vero numquam, ratione possimus optio!
                                    Repellendus non quis, cupiditate fuga at ut quam sit officia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="max-width: 380px;">
                            <img src="/images/Emp1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <img src="" alt="">
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
                                    voluptate provident recusandae nemo totam at vero numquam, ratione possimus optio!
                                    Repellendus non quis, cupiditate fuga at ut quam sit officia.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

