<main class="catalogue">
    <div class="img-31">
<<<<<<< HEAD
        <img src="/images/Barrio_31_de_Buenos_Aires.jpeg" alt="fondo-barrio-31">
        <h1>CATALOGO</h1>
        <h2>Emprendimientos 2022</h2>
    </div>
    <div class="catalogo">
       
        <div class="catalogo-filtros">
            <div class="box">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text">
            </div>
            <div class="container-publicados">
                <div class="form-check form-switch">
                    <label for="check2" class="form-check-label"> Publicados Hoy</label>
                    <input type="checkbox" class="form-check-input" value="" id="">
=======
            <img src="/images/Barrio_31_de_Buenos_Aires.jpeg" alt="fondo-barrio-31">
            <h1>CATALOGO</h1>
            <h2>Emprendimientos 2022</h2>
        </div>
        <div class="catalogo">


            <div class="catalogo-filtros">

                <div class="container-filtros">

                    <div class="box">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text">
                    </div>
                    <div class="container-publicados">

                        <div class="form-check form-switch">
                            <label for="check2" class="form-check-label"> Publicados Hoy</label>
                            <input type="checkbox" class="form-check-input" value="" id="">
                        </div>
                    </div>

                    <div class="container-select-categoria">
                        <select class="form-select form-select-lg" aria-label=".form-select-lg example">
                            <option selected>Todos</option>
                            <option value="1">Alimentos</option>
                            <option value="2">Vestimenta</option>
                            <option value="3">Tecnologia</option>
                            <option value="4">Artesania</option>
                            <option value="5">Jardineria</option>
                            <option value="6">Mixtos</option>
                        </select>
                    </div>

                    <div class="container-ordenamiento">
                        <div class="container-select-categoria">
                            <select class="form-select form-select-lg" aria-label=".form-select-lg example">
                                <option selected>Mas Relevante</option>
                                <option value="1">Alimentos</option>
                                <option value="2">Vestimenta</option>
                                <option value="3">Tecnologia</option>
                                <option value="4">Artesania</option>
                                <option value="5">Jardineria</option>
                                <option value="6">Mixtos</option>
                            </select>
                        </div>
                    </div>



>>>>>>> 0e8154252d66310b3bafe457cb316ea2308ead8c
                </div>
            </div>


            <div class="catalogo-emprendimientos">
                <div class="container text-center">
                    <div class="row row-cols-3">

                        <div class="col-sm-4">
                            <div class="card">
                                <img src="/images/venta-tienda-mujer-emprendimiento-empresa.jpg"
                                    class="card-img-top size-medium" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Panaderia Mendoza </h5>

                                    <p class="card-text"> Las facturas y productos mas ricos del barrio 31! Somos una
                                        familia con tradicion de hace 20 años en panaderia y confiteria, siempre
                                        buscando vender los mejores productos en la zona!</p>
                                    <div class="container-redes">
                                        <a href=""><img class="facebook-img" src="/images/Facebook_f_logo_(2019).svg"
                                                alt=""></a>
                                        <a href=""><img class="whatsapp-img" src="/images/WhatsApp.svg" alt=""></a>
                                        <a href=""><img class="instagram-img" src="/images/logo-instagram.png" alt=""></a>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="card">
                                <img src="/images/señora-empanadas.png" class="card-img-top size-medium" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Empanadas Express</h5>
                                    <p class="card-text">Vendemos las empanadas y con el delivery mas rapidas de la
                                        zona, tambien tenemos otras comidas como pizzas, tartas y miles de tipos de
                                        empanadas para degustar! </p>
                                    <div class="container-redes">
                                        <a href=""><img class="facebook-img" src="/images/Facebook_f_logo_(2019).svg"
                                                alt=""></a>
                                        <a href=""><img class="whatsapp-img" src="/images/WhatsApp.svg" alt=""></a>
                                        <a href=""><img class="instagram-img" src="/images/logo-instagram.png" alt=""></a>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="card">
                                <img src="/images/Matilde.jpg" class="card-img-top size-medium" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Budines Señora Matilde</h5>
                                    <p class="card-text">Hacemos los mejores budines con las mejores ofertas, con los
                                        gustos mas ricos, tenemos variantes veggies, tambien realizamos budines
                                        personalizados para cumpleaños o fiestas </p>
                                    <div class="container-redes">
                                        <a href=""><img class="facebook-img" src="/images/Facebook_f_logo_(2019).svg"
                                                alt=""></a>
                                        <a href=""><img class="whatsapp-img" src="/images/WhatsApp.svg" alt=""></a>
                                        <a href=""><img class="instagram-img" src="/images/logo-instagram.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="card">
                                <img src="/images/b905413c1886467878836be5c6be5a29.jpg" class="card-img-top size-medium"
                                    alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Pastas Frescas 31</h5>
                                    <p class="card-text">Vendemos las mejores pastas caseras de la zona, siempre con la
                                        mejor calidad y tipos, vendemos promos de fideos,ravioles,ñoquis con salsas
                                        caseras para calentar.</p>
                                    <div class="container-redes">
                                        <a href=""><img class="facebook-img" src="/images/Facebook_f_logo_(2019).svg"
                                                alt=""></a>
                                        <a href=""><img class="whatsapp-img" src="/images/WhatsApp.svg" alt=""></a>
                                        <a href=""><img class="instagram-img" src="/images/logo-instagram.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="card">
                                <img src="/images/Hombre-Empanadas.jpg" class="card-img-top size-medium" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">La Reja Casa de Empanadas</h5>
                                    <p class="card-text">Casa de empanadas, 10 años vendiendo empanadas como
                                        emprendimiento familiar, siempre buscando los mejores gustos y la preferencia de
                                        los compradores! Orgullosos de nuestra comida!</p>
                                    <div class="container-redes">
                                        <a href=""><img class="facebook-img" src="/images/Facebook_f_logo_(2019).svg"
                                                alt=""></a>
                                        <a href=""><img class="whatsapp-img" src="/images/WhatsApp.svg" alt=""></a>
                                        <a href=""><img class="instagram-img" src="/images/logo-instagram.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="card">
                                <img src="/images/emprendedora.jpg" class="card-img-top size-medium" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Modista Carmen</h5>
                                    <p class="card-text">Mi nombre es Carmen, soy Modista y costurera hace mas de 15
                                        años, puedo coser prendas rotas, realizar achiques de prendas a medida, corto y
                                        confecciono ropa para hombres, trajes y camisas. </p>
                                    <div class="container-redes">
                                        <a href=""><img class="facebook-img" src="/images/Facebook_f_logo_(2019).svg"
                                                alt=""></a>
                                        <a href=""><img class="whatsapp-img" src="/images/WhatsApp.svg" alt=""></a>
                                        <a href=""><img class="instagram-img" src="/images/logo-instagram.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="card">
                                <img src="/images/Emp1.jpg" class="card-img-top size-medium" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Mister Lasagna</h5>
                                    <p class="card-text">Siempre intentamos obtener y vender cosas diferentes, queriamos
                                        traer la lasagna a la zona para las perosnas que no lo probaron y para los fans
                                        de esta comida tan rica! </p>
                                    <div class="container-redes">
                                        <a href=""><img class="facebook-img" src="/images/Facebook_f_logo_(2019).svg"
                                                alt=""></a>
                                        <a href=""><img class="whatsapp-img" src="/images/WhatsApp.svg" alt=""></a>
                                        <a href=""><img class="instagram-img" src="/images/logo-instagram.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="card">
                                <img src="/images/ferreteria.png" class="card-img-top size-medium" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Ferreteria Cosito</h5>
                                    <p class="card-text">Tenemos todo de todo, desde el cosito del coso, hasta el boton
                                        de la lampara! Vendemos herramientas y traemos pedidos de diferentes productos,
                                        siempre de la mejor calidad</p>
                                    <div class="container-redes">
                                        <a href=""><img class="facebook-img" src="/images/Facebook_f_logo_(2019).svg"
                                                alt=""></a>
                                        <a href=""><img class="whatsapp-img" src="/images/WhatsApp.svg" alt=""></a>
                                        <a href=""><img class="instagram-img" src="/images/logo-instagram.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="card">
                                <img src="/images/negocio-ropa.jpg" class="card-img-top  size-medium" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Ropa Informal Lara</h5>
                                    <p class="card-text">El mejor local familiar de ropa unisex para diferentes edades,
                                        incluimos todo tipo de productos, y de talles desde los mas chicos a los talles
                                        especiales! Siempre pensando en la gente! </p>
                                    <div class="container-redes">
                                        <a href=""><img class="facebook-img" src="/images/Facebook_f_logo_(2019).svg"
                                                alt=""></a>
                                        <a href=""><img class="whatsapp-img" src="/images/WhatsApp.svg" alt=""></a>
                                        <a href=""><img class="instagram-img" src="/images/logo-instagram.png" alt=""></a>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
<<<<<<< HEAD
        </div>
    </div>
</main>

=======

        </div> 
</main>
>>>>>>> 0e8154252d66310b3bafe457cb316ea2308ead8c
