<main class="finanzas">
    <div class="titulo-tips">
        <h2>Finanzas</h2>
    </div>
    <div class="row caja-tips">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="video-tips">
                   <iframe width="270" height="158" src="https://www.youtube.com/embed/OxjX4iRlmF0?start=6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title sub-tips">La reglas</h5>
                    <p class="card-text">El día de hoy quiero compartir contigo una regla que te permitirá administrar mejor tu dinero, distribuir inteligentemente tus gastos en categorías</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="video-tips">
                    <iframe width="270" height="158" src="https://www.youtube.com/embed/9sCVcWD1Svs?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title sub-tips">Principiantes</h5>
                    <p class="card-text">Una de las cosas más importantes en la vida es la educación financiera. Nunca es demasiado pronto para empezar a aprender sobre el dinero y cómo gestionarlo.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="video-tips">
                    <iframe width="270" height="158" src="https://www.youtube.com/embed/zO3xgKgvFW0?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title sub-tips">Finanzas corporativa</h5>
                    <p class="card-text">Para ello se toman decisiones de tipo económico a través de diferentes herramientas con la finalidad de crear capital, crecer y adquirir más negocios.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="video-tips">
                    <iframe width="270" height="158" src="https://www.youtube.com/embed/K0hRgDob40A?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title sub-tips">El Ciclo Operacional</h5>
                    <p class="card-text">¿Qué es el ciclo operativo ejemplos?
El Ciclo operativo es el marco temporal que se toma una empresa para conseguir un inventario de bienes y servicios,</p>
                </div>
            </div>
        </div>
    </div>
</main>