<main class="marcketing">
    <div class="titulo-tips">
        <h2>
            Marcketing
        </h2>
    </div>
    <div class="row caja-tips">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="video-tips">
                    <iframe width="270" height="158" src="https://www.youtube.com/embed/5aMOh427T2Y"
                     title="YouTube video player" frameborder="0" 
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                 </div>
                <div class="card-body">
                    <h5 class="card-title sub-tips">¿Que es  marketing?</h5>
                    <p class="card-text">Sara te explica qué es el video marketing, cómo puede ayudarte a complementar tu plan</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="video-tips">
                    <iframe width="270" height="158" src="https://www.youtube.com/embed/aA3fFreqnYc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title sub-tips">La tendencia</h5>
                    <p class="card-text">El video marketing es una de las tendencias del momento en marketing digital y publicidad</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="video-tips">
                   <iframe width="270" height="158" src="https://www.youtube.com/embed/kikFHkJuu8k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title sub-tips">¿Como hacer?</h5>
                    <p class="card-text">Te presentamos 10 herramientas imprescindibles de Video Marketing y unos tips</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="video-tips">
                   <iframe width="270" height="158" src="https://www.youtube.com/embed/i5IR1PR9t34?start=16" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title sub-tips">7 claves</h5>
                    <p class="card-text">Un canal de Youtube es una buena opción para tu estrategia de marketing, te regalamos 7 consejos</p>
                </div>
            </div>
        </div>
    </div>
</main>