<main class="tips">
    <div class="titulo-tips">
        <h2>
            Tips y consejos
        </h2>
    </div>
    <div class="row caja-tips">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="video-tips">
                    <iframe width="270" height="158" src="https://www.youtube.com/embed/lQuq2lbireg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title sub-tips">instagram</h5>
                    <p class="card-text">una seríe de vídeos en las que te enseño a conseguir más seguidores, salir siempre en para ti, tener virales y ganar dinero gracias a subir vídeos en Instagram. 
</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="video-tips">
                   <iframe width="270" height="158" src="https://www.youtube.com/embed/pKuMvn-T46o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title sub-tips">Facebook</h5>
                    <p class="card-text">En este video vas a encontrar todos los tips y consejos que te van ayudar a impulsar y difundir tu negocio para ganar mas visivilidad en la plataforma de facebook</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="video-tips">
                    <iframe width="270" height="158" src="https://www.youtube.com/embed/icBIjF226vI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title sub-tips">wpp Business</h5>
                    <p class="card-text">¿Qué es WhatsApp Business y para qué sirve? En este vídeo descubriremos la aplicación de mensaje para pequeños negocios así como varios ejemplos  </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="video-tips">
                    <iframe width="270" height="158" src="https://www.youtube.com/embed/TjFPTgvTVoU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title sub-tips">Aplicaciones</h5>
                    <p class="card-text">las mejores 5 herramientas que necesitas saber para destacar tu negocio y poder mejorar dia a dia tu emoprendimiento y que se haga mas llamativo a los clientes
</p>
                </div>
            </div>
        </div>
    </div>
</main>