@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
    font-family: 'Alegreya Sans SC', sans-serif;
  }

  
/* ------------------ Estilos Nav ------------------*/
.caja-nav{
    background-color: #212528;
}
main{
    background-color:  rgba(88, 81, 81, 0.39);
}

.caja-logo-nav{
    padding: 0 10px 0 40px;
}
.logo-nav{
    width: 200px;
    height: 90px;
}

.caja-link li a{
    color: white;
    

}

.caja-link li a:hover{
    color: #ffc008;
}

.caja-link  a:visited{
    color: white;

}

.caja-registrar{
    padding: 0 70px 0 0;
}

/* ------------------ Estilos Footer ------------------*/

/*footer*/
.titulo-footer{
    color: aliceblue;
}
.parrafo-footer{
    color: aliceblue;
}

.bi-instagram {
    color:#ffc008
}

.bi-twitter{
    color: #ffc008
}

.insta{
    height: 10px;
}
.bi-facebook{
    color:#ffc008
}

.registro{
   display: flex;
   justify-content: center;
}


.copy{
    display: flex;
    justify-content: center;
    color: white;
}
/* ------------------ Estilos IMG Barrio 31 ------------------*/

.img-31{

    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;

}

.img-31 img
{
    width: 100%;
    height: 100%;
}

.img-31 h1,h2
{    
    color: white;
    position: absolute;      
    font-weight: 700;
}

.img-31 h1
{
    text-shadow: 5px 5px 5px black;
    font-size: 5rem;
    top: 40%;    
    left: 5%;   
}

.img-31 h2
{
    text-shadow: 5px 5px 2px black;
    font-size: 2rem;
    top: 62%;    
    left: 6%;
}

/* ------------------ Estilos Catalogo------------------*/

.catalogo 
{
    background-color: white;
    width: 100%;
    height: 500px;    
}

/* ------------------ Estilos Catalogo-Filtros ------------------*/

 
.catalogo-filtros
{
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    height: 150px;
}

/* --- Buscador--- */ 

.catalogo .catalogo-filtros .box
{
    width: 300px;
    height: 50px;
    background-color: #ffc008 ;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 3px solid black;
}


.catalogo .catalogo-filtros .box > i
{
    font-size: 20px;
    color: black;
}


.catalogo .catalogo-filtros .box > input
{
    background-color: #ffc008;
    flex : 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}


/* --- Switch Publicados Hoy --- */ 


.catalogo .catalogo-filtros .container-publicados
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 190px;
    height: 55px;
    background-color: white;
    border-radius: 20px;
    border:  4px solid black;
      
}

.catalogo .catalogo-filtros .texto-publicados
{
    display: block;
}

/* --- Titulo Emprendimientos  --- */

.catalogo .catalogo-filtros .container-emprendimientos-titulo
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 80px;
    border: 5px solid white;
}

.catalogo .catalogo-filtros .container-emprendimientos-titulo h3
{
    font-size: 35px;
    color: black;
}

.catalogo .catalogo-filtros .container-select-categoria
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 80px; 
}

.catalogo .catalogo-filtros .container-select-categoria .form-select 
{
    color: black;
    background-color: #ffc008;
}

.catalogo .catalogo-filtros .container-select-categoria .form-select-lg
{
    border-radius: 0;
}

.catalogo .catalogo-filtros .container-ordenamiento
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 80px;
}

.catalogo .catalogo-filtros .container-ordenamiento .form-select-lg
{
    font-size: 15px;
}

.catalogo .catalogo-filtros .container-ordenamiento p
{
    color: black;
}

.catalogo .catalogo-emprendimientos 
{ 
    width: 100%;
}

.catalogo .catalogo-emprendimientos .col
{
    padding-top: 25px;
}

.catalogo .catalogo-emprendimientos .col h5
{
    text-decoration: underline;
}

.catalogo .catalogo-emprendimientos .col .facebook-img
{
    width: 40px;
    height: 40px;
}

.catalogo .catalogo-emprendimientos .col .whatsapp-img
{
    width: 45px;
    height: 45px;

}

.catalogo .catalogo-emprendimientos .col .container-redes
{
    width: 110px;
    height: 45px;
    background-color:rgba(243, 136, 6, 0.646);
    border-radius: 20px;
}

.catalogo .catalogo-emprendimientos .col  .card .card-body
{
    background-color:#ffc10861;
}

.catalogo .catalogo-emprendimientos .col  .card .size-medium
{
    width: 100%;
    height: 250px;

}